* {
}

body {
	background: url(../../images/background/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	background-attachment: fixed;
	/*padding-top:120px;*/
}

a, li a, p a, div a {
	cursor: url("../../images/cursor/cursor3.png"), auto;
}

.logo-title {
	height:90px;
	z-index:2;
	margin-top:5px;
}

#logo-responsive {
	display:none;
}

nav {
	padding:0 !important;
}

nav .container-fluid
{
	border-bottom:4px solid #ffd700;
}

.left{
	float:left;
}

.weapon {
  width: 25px;
  height: 4px;
  position: absolute;  
  border-radius: 1px;
  border:1px solide white;
  background-color: #008a20;
  bottom:0px;
}

.weapon-one {
  opacity: 0;
  left: 0px;
  animation: WeaponOne 0.8s 2s linear infinite;
  animation-duration : 5s;
}


.weapon-two {
  opacity: 0;
  left: 0px;
  animation: WeaponOne 0.8s 1s linear infinite;
  animation-duration : 6s;
}

@keyframes WeaponOne {
  0% {
    opacity: 1;
  }
  100% {
    left: 50%;
    opacity: 0.5;
  }
}

.right{
	float:right;
}

.weapon2 {
  width: 25px;
  height: 4px;
  position: absolute;  
  border-radius: 1px;
  border:1px solide white;
  background-color: #ad0000;
  bottom:0px;
}

.weapon-three {
  opacity: 0;
  right: 0px;
  animation: WeaponTwo 0.8s 2s linear infinite;
  animation-duration : 5s;
}


.weapon-four {
  opacity: 0;
  right: 0px;
  animation: WeaponTwo 0.8s 1s linear infinite;
  animation-duration : 6s;
}

@keyframes WeaponTwo {
  0% {
    right: 0%;
    opacity: 1;
  }
  100% {
    right: 50%;
    opacity: 0.5;
  }
}

nav ul li a
{
    padding: 30px 25px 30px 25px !important;
	font-size:30px;
	color:white !important;
	font-family: DINNext, Matterhorn, Helvetica, sans-serif;
}

nav ul li a:hover
{
    padding: 30px 24px 30px 24px !important;
    border-left:1px solid #ffd700;
    border-right:1px solid #ffd700;
}

.navbar-text-padding {
	padding:22px;
	color:grey !important;
}

.border-yellow {
    border-top:2px solid #ffd700;
    border-bottom:4px solid #ffd700;
    border-left:1px solid #ffd700;
    border-right:1px solid #ffd700;
}


.white {
	color:white !important;
}

.navbar-new-border {
	border:0.5px solid grey !important;
}

.toggler-icon-new-color {
	color:white !important;
}

.background-black {
	background-color:black !important;
}

.color-white {
	color:grey !important;
}
.color-white:hover {
	background-color:black !important;
	color:white !important;
}

.moins-for-nav {
	margin-top:-20px;
}

section{	
	width:90%;
	margin:auto;
	background:black;
	border-radius:5px;
	margin-top:20px;
	padding:20px;
}

.section-title {
	text-transform : uppercase;
	font-size:50px;
	font-family: DINNext, Matterhorn, Helvetica, sans-serif;
	color:white;
	margin-bottom:10px;
	text-align:center;
	margin-top:140px;
	margin-bottom:-110px;
}

.class-planet {
	color:#fade4b;
	font-weight:bold;
}
.class-sith {
	color:#ad0000;
	font-weight:bold;
}
.class-site {
	color:#008a20;
	font-weight:bold;
}

.planete
{
	vertical-align:center;
}


.vaisseau
{
  vertical-align:center;
  position: absolute;
  transform: rotateY(180deg);
  width:20%;
  animation: Vaisseau 3000ms linear infinite;
  animation-delay: 300ms;
  z-index:1;
}


@keyframes Vaisseau {
  0% {
  margin-top:0px;
  }
  50% {
	  margin-top:4px;
	  margin-right:44px;
  }
}


/* ################### CARD ################### */

.card-background-black {
	background-color:black !important;
	border:1px solid grey;
	border-radius:10px !important;
	color:white !important;	
	margin-top:160px;
	margin-bottom:-140px;
}

.card-text {
  font-family: "Play", sans-serif !important;
  font-weight:500;
}

.card-body a {
    margin-left: auto;
}

/* ################### button ################### */
.btn-card {
	text-transform: uppercase;
	margin-top:10px;
	font-size:20px;
    background-color:black;
    color:white;
    border-radius: 50px 50px 50px 50px;
    border:2px solid #fade4b;
    text-decoration:none;
    padding:5px 25px 10px 25px; 
    outline: none;
    cursor: pointer;
}

.btn-card:hover {
    border:2px solid white;
    color:white;
}






#carouselAccueil {
	margin-top:20px;
}


.carousel-inner img {
	margin:auto;
}



.carousel-round {
	border-radius:10px;
}




.margin-ol {
	margin-top:20px;
}



/* pour page planete */
.justify-align {	
    text-align: justify;
}

.img-text-planet {
	width:50%;
	margin-bottom:20px;
}


footer {
	margin-top:100px;
	text-align:center;
	color:white;
}





@media all and (max-width: 991px)
{
	#logo{
		width:80%;
		height:100%;
	}
	#logo-first {
		display:none;
	}
	#logo-responsive {
		display:block;
		margin-top:-25;
		max-width:100%;
		height:100%;
	}
	nav ul li a
	{
		font-size:18px;
	}
	li .dropdown-item {
		text-align:center;
	}
	.vaisseau {		
		width:50%;
		max-height:50%;
	}
	.img-text-planet {
		width:100%;
	}
}


