/* ################ COULEUR ################ */
.class-sith {
	color:#ad0000;
	font-weight:bold;
}
.class-site {
	color:#008a20;
	font-weight:bold;
}

/* ################ VAISSEAU ################ */
.vaisseau
{
  vertical-align:center;
  position: absolute;
  transform: rotateY(180deg);
  max-width:20%;
  animation: Vaisseau 3000ms linear infinite;
  animation-delay: 300ms;
  z-index:1;
}

@keyframes Vaisseau {
  0% {
  margin-top:0px;
  }
  50% {
	  margin-top:4px;
	  margin-right:44px;
  }
}

/* ################ CAROUSEL ################ */
#carouselAccueil {
	margin-top:20px;
}

.carousel-inner img {
	margin:auto;
}

.carousel-round {
	border-radius:10px;
}

/* ################ OL ################ */
.margin-ol {
	margin-top:20px;
}

/* ################ MEDIA QUERY ################ */
@media all and (max-width: 1250px)
{
	.vaisseau {		
		width:50%;
		max-height:50%;
	}
}